/* Body */
body {
  font-family: 'Exo', sans-serif;
}

/* Dark Mode and Light Mode */
body.dark-mode {
  background-color: #1C0B19;
  color: #DBE1E7;
}
body.light-mode {
  background-color: #DBE1E7;
  color: #1C0B19;
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: relative;
}

#logo {
  height: 64px;
  width: 64px;
  margin: auto;
} 

/* Section */
section {
  margin-top: 3rem;
  margin-bottom: 30px;
}

/* Footer */
footer {
  display: block;
  text-align: center;
  font-size: .75rem;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
#copyright

footer.light-mode {
  background-color: #DBE1E7;
  color: #3F5C7D;
}

footer.dark-mode {
  background-color: #1C0B19;
  color: #DBE1E7;
}

/* General styling */
h1 {
  font-family: 'Share Tech', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875rem;
  margin-bottom: 2rem;
  text-align: center;
  transform: scale(1, 1.25);
  letter-spacing: .05em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  opacity: .8;
}

p {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: justify;
}

a {
  transition: color 0.3s ease;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: darkgreen;
}

ul {
  list-style-type: '- ';
  padding-right: 40px;
}
ul li {
  margin-bottom: 20px;
  text-align: justify;
}

/*  containers */
.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.body-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

/* Toggle Switch */
#toggle {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
#toggle p {
  margin: 0;
  padding-right: 10px; 
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 60px;
  height: 34px;
  padding-bottom: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #3F5C7D;
  box-shadow: inset 0 0 3px #DBE1E7;;
}
input:checked + .slider:before {
  background-color: #DBE1E7;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:not(:checked) + .slider {
  background-color: #DBE1E7;
  box-shadow: 0 0 3px #1C0B19;
}
input:not(:checked) + .slider:before {
  background-color: #3F5C7D;  
} 
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Form elements */
select {
  margin-left: .25em;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 3px 1px #1C0B19;
}

button, input[type="submit"] {
  transition: background-color 0.3s ease;
}

input[type="text"],
input[type="password"],
textarea,
select {
  font-size: .9em;
  width: auto;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(63, 92, 125, 1);
}

/* Required flag */
.required {
  color: #ff0000;
  font-weight: bold;
  font-size: .9em;
  padding-top: .1em;
  padding-left: .2em;
  text-transform: uppercase;
}
body.dark-mode .required {
  color: magenta;
  font-size: 1.1em;
}

/* Show/hide */
.hidden {
  display: none; /* Hides a container */
}

.shown {
  display: block; /* Displays a container */
}

/* Show Button with Eye Icon */
button#showButton {
  position: absolute;
  right: -14px;
  top: 41%;
  transform: translateY(-50%);
  margin: 0;
  background-color: #DBE1E7;
  border: none;
  border-radius: 2px;
  padding:  0 8px;
  height: 66%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
button#showButton:hover {
  background-color: hsl(210, 20%, 95%) !important;
}
#visibilityImage {
  height: 15px;
  width: 15px;
  background-color: #DBE1E7;
}

/* Responsive changes */
@media screen and (max-width: 768px) {

  /* General styling */
  html, body {
    max-width: 95%;
  }
  
  /* Header */
    .header {
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }
  
  #logo {
    order: -1;
    height: 48px;
    width: 48px;
  }
  
  /* Dark mode */
  #toggle {
    order: 1;
    padding: 0;
    position: static;
  }

  .switch {
    width: 72px;
    height: 48px;
    margin: 0;
    position: relative;
  }

  .slider {
    width: 100%;
    height: 44px;
    border-radius: 44px;
  }

  .slider:before {
    width: 40px;
    height: 36px;
    position: absolute;
    left: 4px;
    bottom: 4px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Buttons */
  input[type="submit"],
  button {
    min-height: 48px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Show/hide button */
  button#showButton {
    width: 48px;
    height: 48px;
    margin: auto;
    padding: 8px;
    margin-top: .25em;
    margin-right: 1.4em;
  }

}