/* Body */
body, button {
  font-family: 'Exo', sans-serif;
}

/* Dark Mode and Light Mode */
body.dark-mode {
  background: linear-gradient(0deg, #251126, #1c0b19);
  background-attachment: fixed;
  color: #DBE1E7;
}
body.light-mode {
  background: radial-gradient(circle at 40% 40%, #d7e1e9, #dbe1e7);
  background-attachment: fixed;
  color: #1C0B19;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px 20px;
}

.header-left,
.header-nav,
.header-right {
  display: flex;
  align-items: center;
}

#logo {
  height: 32px; /* Smaller logo */
  width: auto;
  margin-right: 10px; /* Space after logo */
}

.header-nav, .header-right, .toggle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: .8;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-nav li {
  padding: 0 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2941;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
body.dark-mode .dropdown-content {
  background-color:#1c0b19;
  color: #DBE1E7;
}

.dropbtn:focus + .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.header-nav a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: 10px;
}
.header-nav a:last-child {
  margin-right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.account-dropdown {
  position: relative;
  margin-left: auto;
}


/* Section */
section {
  margin-top: 3rem;
  margin-bottom: 30px;
}

/* Footer */
footer, .copyright {
  display: block;
  text-align: center;
  margin: auto;
  font-size: .75rem;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer.light-mode {
  background-color: #DBE1E7;
  color: #3F5C7D;
}

footer.dark-mode {
  background: linear-gradient(0deg, #1c0b19, #2c2941);
  color: #DBE1E7;
}

.footer-nav,
.copyright,
.social-media-links {
  display: flex;
  gap: 15px;
  flex-wrap:wrap;
  justify-content: center;

}
.footer-nav a,
.social-media-links a {
  padding: 5px 10px;
}

/* Google Material Symbols */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* General styling */
h1 {
  font-family: 'Share Tech', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875rem;
  margin-bottom: 2rem;
  text-align: center;
  transform: scale(1, 1.25);
  letter-spacing: .05em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  opacity: .8;
}

p {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: justify;
}

a {
  transition: color 0.3s ease;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: darkgreen;
}

ul {
  list-style-type: '- ';
  padding-right: 40px;
}
ul li {
  margin-bottom: 20px;
  text-align: justify;
}

/*  containers */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

/* Toggle Switch */
#toggle {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
#toggle p {
  margin: 0;
  padding-right: 10px; 
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 40px;
  height: 22px;
  padding-bottom: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 4px;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -6px;
  bottom: 2px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #3F5C7D;
  box-shadow: inset 0 0 3px #DBE1E7;;
}
input:checked + .slider:before {
  background-color: #DBE1E7;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:not(:checked) + .slider {
  background-color: #DBE1E7;
  box-shadow: 0 0 3px #1C0B19;
}
input:not(:checked) + .slider:before {
  background-color: #3F5C7D;  
} 
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Form elements */
select {
  margin-left: .25em;
}
button {
  padding: 11px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 3px 1px #1C0B19;
  display: block;
  text-align: center;
  width: auto;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #61b24f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #45b635;
}

button, input[type="submit"] {
  transition: background-color 0.3s ease;
}

input[type="text"],
input[type="password"],
.userinput,
textarea,
select {
  font-size: .9em;
  width: auto;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(63, 92, 125, 1);
}

/* Required flag */
.required {
  color: #ff0000;
  font-weight: bold;
  font-size: .9em;
  padding-top: .1em;
  padding-left: .2em;
  text-transform: uppercase;
}
body.dark-mode .required {
  color: magenta;
  font-size: 1.1em;
}

/* Show/hide */
.hidden {
  display: none; /* Hides a container */
}

.shown {
  display: block; /* Displays a container */
}

/* Responsive changes */
@media screen and (max-width: 768px) {

  /* General styling */
  html, body {
    max-width: 95%;
  }
  .header-nav,
  .header-right {
    display: none; /* Adjust based on your responsive design needs */
  }

  /* Header */
    .header {
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }
  
  #logo {
    order: -1;
    height: 48px;
    width: 48px;
  }
  
  /* Dark mode */
  #toggle {
    order: 1;
    padding: 0;
    position: static;
  }

  .switch {
    width: 72px;
    height: 48px;
    margin: 0;
    position: relative;
  }

  .slider {
    width: 100%;
    height: 44px;
    border-radius: 44px;
  }

  .slider:before {
    width: 40px;
    height: 36px;
    position: absolute;
    left: 4px;
    bottom: 4px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Buttons */
  input[type="submit"],
  button {
    min-height: 48px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Show/hide button */
  button#showButton {
    width: 48px;
    height: 48px;
    margin: auto;
    padding: 8px;
    margin-top: .25em;
    margin-right: 1.4em;
  }

}